body {
  width: 100vw;
  height: 100vh;
  background: #000;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 48px;
}
.timer {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.field + .field {
  margin-left: 15px;
}

.field {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 30px;
  font-family: "Orbitron", sans-serif;
  color: #c6e2ff;
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
    0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52),
    0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78),
    0 0 16px rgba(30, 132, 242, 0.92);
}

.value {
  font-size: 52px;
}

.label {
  font-size: 20px;
  margin-left: 10px;
}
